* {	
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
body{	
	background-color: rgb(49, 37, 23);
}
header {
	color: rgb(49, 37, 23);
	text-align: center;
	padding: 20px;
}
nav {
	text-align: center;
}

h1 {
	font-size: 20px;
}

h2 {
	color: rgb(49, 37, 23); 
	font-size: 18px;
	font-weight: bold;
}

header, nav, section, aside{
	border: 2px solid rgb(49, 37, 23);
	display: block;
}

article{
	padding: 20px;
}

.agrupar{	
	background-color: white;
	margin: 40px;
}

#end{
	text-align: center;
	color: white;
}